In [3]:
# ---------> Assignment ------->

In [4]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.
# ---->
# A database is a collection of data that is organized in a way that allows for efficient storage, 
# retrieval, and management of the data. In computing, databases are used to store and manage large 
# amounts of data in a structured manner.

# SQL and NoSQL are two different types of databases:

# SQL Databases:
# SQL (Structured Query Language) databases are based on the relational model and are used to store data in 
# tables with pre-defined relationships between the tables. SQL databases are organized using a schema, 
# which defines the structure of the data and the relationships between different tables. SQL databases are 
# best suited for applications that require complex querying and reporting, as well as for applications that
# need to enforce strict data consistency.

# NoSQL Databases:
# NoSQL (Not Only SQL) databases, on the other hand, are designed to store unstructured or semi-structured data.
# They do not have a pre-defined schema and can store data in various formats, such as key-value pairs, 
# documents, or graphs. NoSQL databases are designed to scale horizontally, which means they can handle large 
# amounts of data and traffic by adding more servers to the cluster. NoSQL databases are best suited for 
# applications that require high scalability and availability, such as social media platforms, e-commerce 
# websites, and real-time data analytics.

In [5]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# --->
# DDL stands for Data Definition Language, which is a set of SQL statements used to define the structure of 
# a database and its objects. DDL statements are used to create, modify, and delete database objects, such as
# tables, views, indexes, and constraints.

# Here are some of the commonly used DDL statements and their explanations:

# CREATE: The CREATE statement is used to create a new database object, such as a table or a view. For example,
# the following statement creates a new table named "customers" with three columns: id, name, and email.

# CREATE TABLE customers (
# id INT PRIMARY KEY,
# name VARCHAR(50),
# email VARCHAR(50)
# );

# DROP: The DROP statement is used to delete an existing database object, such as a table or a view. 
# For example, the following statement deletes the "customers" table from the database.

# DROP TABLE customers;

# ALTER: The ALTER statement is used to modify the structure of an existing database object, such as a table
# or a view. For example, the following statement adds a new column named "phone" to the "customers" table.

# ALTER TABLE customers ADD phone VARCHAR(15);

# TRUNCATE: The TRUNCATE statement is used to delete all the data from an existing table, but keep the
# structure of the table intact. For example, the following statement deletes all the data from the "customers"table.

# TRUNCATE TABLE customers;

In [7]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
# --->
# DML stands for Data Manipulation Language, which is a set of SQL statements used to manipulate 
# the data within a database. DML statements are used to insert, update, and delete data from tables.

# Here are some commonly used DML statements and their explanations:

# INSERT: The INSERT statement is used to add new data to a table. For example, the following statement adds
# a new record to the "customers" table with values for the "name" and "email" columns:

# INSERT INTO customers (name, email)
# VALUES ('John Doe', 'johndoe@example.com');

# UPDATE: The UPDATE statement is used to modify existing data in a table. For example, the following
# statement updates the email address of a customer with a specific ID:

# UPDATE customers
# SET email = 'newemail@example.com'
# WHERE id = 1;

# DELETE: The DELETE statement is used to remove data from a table. For example, the following statement
# deletes a customer record with a specific ID:

# DELETE FROM customers
# WHERE id = 1;

In [8]:
# Q4. What is DQL? Explain SELECT with an example.
# -->
# DQL stands for Data Query Language, which is a set of SQL statements used to retrieve data from a database. DQL statements are used to query and 
# retrieve data from tables and views.

# The most commonly used DQL statement is the SELECT statement, which is used to retrieve data from one or 
# more tables based on specified conditions. Here is an example of the SELECT statement:

# Assume we have a table named "employees" with columns "id", "name", "age", and "salary", and we want to
# retrieve the names and salaries of employees who are older than 30. The SQL query to achieve this would be:

# SELECT name, salary
# FROM employees
# WHERE age > 30;

# In this example, the SELECT statement retrieves data from the "employees" table and specifies which columns
# to retrieve (name and salary) using the SELECT clause. The FROM clause specifies the name of the table to
# query (employees). The WHERE clause is used to filter the data based on a specific condition (age > 30).

# The result of the above query would be a list of names and salaries of employees who are older than 30, 
# based on the data in the "employees" table.

In [13]:
# Q5. Explain Primary Key and Foreign Key.
# ---> 
# Primary Key: A primary key is a column or a set of columns in a table that uniquely identifies each 
# row in that table. The primary key constraint ensures that the values in the primary key column(s) 
# are unique and not null. The primary key is used to enforce referential integrity and to create 
# relationships between tables.

# Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key 
# of another table. The foreign key constraint ensures that the values in the foreign key column(s) match 
# the values in the primary key column(s) of the referenced table or are null. Foreign keys are used
# to create relationships between tables and enforce referential integrity.

In [12]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector

# establish a connection to the MySQL server
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="username",
#   password="password",
#   database="mydatabase"
# )

# # create a cursor object
# mycursor = mydb.cursor()

# # execute a SQL query
# mycursor.execute("SELECT * FROM customers")

# # fetch the result set
# result = mycursor.fetchall()

# # display the result set
# for row in result:
#   print(row)
# We then create a cursor object using the cursor() method, which allows us to execute SQL statements and fetch results.

# we execute a SELECT statement using the execute() method of the cursor object, which retrieves all the rows from 
# the "customers" table.

In [14]:
# Q7. Give the order of execution of SQL clauses in an SQL query.
# -->
# The order of execution of the SQL clauses in an SQL query is as follows:

# SELECT: Specifies the columns to retrieve from the table(s).
# FROM: Specifies the table(s) to query.
# JOIN: Joins two or more tables together based on a specified condition.
# WHERE: Filters the results based on a specified condition.
# GROUP BY: Groups the results based on one or more columns.
# HAVING: Filters the grouped results based on a specified condition.
# ORDER BY: Sorts the results based on one or more columns.
# LIMIT: Limits the number of rows returned by the query.